body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #87CEEB;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#preferences-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}

label, select, button {
    margin-top: 10px;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

footer {
    background-color: #87CEEB;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
